<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED"/>
    <env name="APP_ENV" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_STORE" value="array"/>
    <env name="DB_CONNECTION" value="mysql"/>
    <env name="DB_DATABASE" value="dashboard_testing"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="NIGHTWATCH_ENABLED" value="false"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app/Casts</directory>
      <directory suffix=".php">./app/Concerns</directory>
      <directory suffix=".php">./app/Console</directory>
      <directory suffix=".php">./app/Domain</directory>
      <directory suffix=".php">./app/Enums</directory>
      <directory suffix=".php">./app/Generators</directory>
      <directory suffix=".php">./app/Http/Controllers</directory>
      <directory suffix=".php">./app/Http/Middleware</directory>
      <directory suffix=".php">./app/Http/Requests</directory>
      <directory suffix=".php">./app/Http/Resources</directory>
      <directory suffix=".php">./app/Jobs</directory>
      <directory suffix=".php">./app/Listeners</directory>
      <directory suffix=".php">./app/Mail</directory>
      <directory suffix=".php">./app/Models</directory>
      <directory suffix=".php">./app/Notifications</directory>
      <directory suffix=".php">./app/Observers</directory>
      <directory suffix=".php">./app/Policies</directory>
      <directory suffix=".php">./app/Providers</directory>
      <directory suffix=".php">./app/Queries</directory>
      <directory suffix=".php">./app/Repositories</directory>
      <directory suffix=".php">./app/Routing</directory>
      <directory suffix=".php">./app/Services</directory>
      <directory suffix=".php">./app/Tenancy</directory>
      <directory suffix=".php">./app/Traits</directory>
      <directory suffix=".php">./app/View</directory>
    </include>
    <exclude>
      <file>./app/Jobs/UploadFinanceAuditImagesJob.php</file>
      <file>./app/Jobs/Manuals/GenerateCmsManualJob.php</file>
      <file>./app/Jobs/Manuals/GenerateIspManualJob.php</file>
      <file>./app/Jobs/Manuals/GenerateOshaManualJob.php</file>
      <file>./app/Jobs/Manuals/GenerateRedFlagManualJob.php</file>
    </exclude>
  </source>
</phpunit>
