
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';
@import 'vue-sonner/style.css';
@import 'shadcn-vue/tailwind.css';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@source '../views';
@source '../../app';
@source '../../storage/framework/views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views';
@source '../../vendor/filament';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-arm-blue-50: #f2f8fa;
    --color-arm-blue-100: #e6f0f5;
    --color-arm-blue-200: #bfdae5;
    --color-arm-blue-300: #99c4d6;
    --color-arm-blue-400: #4d98b7;
    --color-arm-blue-500: #006c98;
    --color-arm-blue-600: #006189;
    --color-arm-blue-700: #005172;
    --color-arm-blue-800: #00415b;
    --color-arm-blue-900: #00354a;

    --color-arm-green-50: #f8faf6;
    --color-arm-green-100: #f1f5ed;
    --color-arm-green-200: #dce5d2;
    --color-arm-green-300: #c6d6b7;
    --color-arm-green-400: #9cb780;
    --color-arm-green-500: #71984a;
    --color-arm-green-600: #668943;
    --color-arm-green-700: #557238;
    --color-arm-green-800: #445b2c;
    --color-arm-green-900: #374a24;

    --color-arm-orange-50: #fef8f2;
    --color-arm-orange-100: #fdf1e6;
    --color-arm-orange-200: #faddbf;
    --color-arm-orange-300: #f7c999;
    --color-arm-orange-400: #f2a04d;
    --color-arm-orange-500: #ec7700;
    --color-arm-orange-600: #d46b00;
    --color-arm-orange-700: #b15900;
    --color-arm-orange-800: #8e4700;
    --color-arm-orange-900: #743a00;

    --color-danger-50: var(--color-rose-50);
    --color-danger-100: var(--color-rose-100);
    --color-danger-200: var(--color-rose-200);
    --color-danger-300: var(--color-rose-300);
    --color-danger-400: var(--color-rose-400);
    --color-danger-500: var(--color-rose-500);
    --color-danger-600: var(--color-rose-600);
    --color-danger-700: var(--color-rose-700);
    --color-danger-800: var(--color-rose-800);
    --color-danger-900: var(--color-rose-900);

    --color-primary-50: var(--color-blue-50);
    --color-primary-100: var(--color-blue-100);
    --color-primary-200: var(--color-blue-200);
    --color-primary-300: var(--color-blue-300);
    --color-primary-400: var(--color-blue-400);
    --color-primary-500: var(--color-blue-500);
    --color-primary-600: var(--color-blue-600);
    --color-primary-700: var(--color-blue-700);
    --color-primary-800: var(--color-blue-800);
    --color-primary-900: var(--color-blue-900);

    --color-success-50: var(--color-green-50);
    --color-success-100: var(--color-green-100);
    --color-success-200: var(--color-green-200);
    --color-success-300: var(--color-green-300);
    --color-success-400: var(--color-green-400);
    --color-success-500: var(--color-green-500);
    --color-success-600: var(--color-green-600);
    --color-success-700: var(--color-green-700);
    --color-success-800: var(--color-green-800);
    --color-success-900: var(--color-green-900);

    --color-warning-50: var(--color-yellow-50);
    --color-warning-100: var(--color-yellow-100);
    --color-warning-200: var(--color-yellow-200);
    --color-warning-300: var(--color-yellow-300);
    --color-warning-400: var(--color-yellow-400);
    --color-warning-500: var(--color-yellow-500);
    --color-warning-600: var(--color-yellow-600);
    --color-warning-700: var(--color-yellow-700);
    --color-warning-800: var(--color-yellow-800);
    --color-warning-900: var(--color-yellow-900);
}

@theme inline {
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar-background);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-heading: var(--font-sans);
    --radius-xl: calc(var(--radius) + 4px);
    --font-sans: 'Figtree Variable', sans-serif;
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.52 0.105 223.128);
    --primary-foreground: oklch(0.984 0.019 200.873);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: hsl(0 0% 98%);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.705 0.015 286.067);
    --chart-1: oklch(0.865 0.127 207.078);
    --chart-2: oklch(0.715 0.143 215.221);
    --chart-3: oklch(0.609 0.126 221.723);
    --chart-4: oklch(0.52 0.105 223.128);
    --chart-5: oklch(0.45 0.085 224.283);
    --radius: 0.45rem;
    --sidebar-background: hsl(0 0% 98%);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.609 0.126 221.723);
    --sidebar-primary-foreground: oklch(0.984 0.019 200.873);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.705 0.015 286.067);
    --sidebar: oklch(0.985 0 0);
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.45 0.085 224.283);
    --primary-foreground: oklch(0.984 0.019 200.873);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: hsl(0 0% 98%);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.552 0.016 285.938);
    --chart-1: oklch(0.865 0.127 207.078);
    --chart-2: oklch(0.715 0.143 215.221);
    --chart-3: oklch(0.609 0.126 221.723);
    --chart-4: oklch(0.52 0.105 223.128);
    --chart-5: oklch(0.45 0.085 224.283);
    --sidebar-background: hsl(0 0% 7%);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.715 0.143 215.221);
    --sidebar-primary-foreground: oklch(0.302 0.056 229.695);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.552 0.016 285.938);
    --sidebar: oklch(0.21 0.006 285.885);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground font-sans;
    }
}

[x-cloak] {
    display: none !important;
}

.page-break {
    page-break-inside: avoid;
}

.break-before {
    page-break-before: always;
}

.break-after {
    page-break-after: always;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}

